/* Global styles */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	max-width: 1000px; /* Set a maximum width for the entire content */
	margin: 0 auto; /* Center the content horizontally */
  }
  
  /* Section styling */
  .story-section {
	margin-bottom: 40px;
  }
  
  /* Card styling */
  .card {
	background-color: lightblue;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding: 20px;
	margin-bottom: 20px;
  }
  
  .card-content {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  /* .card-text p {
	background-color: white;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
	margin-top: 10px;
  }
   */
   .card-text p {
	background-color: white;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
	margin-top: 10px;
	width: auto;
	white-space: normal;
	word-wrap: break-word;
	font-style: italic; /* Set the font to italic */
	color: #888; /* Lighter gray color */
	font-family: 'Verdana', sans-serif; 
	font-size: 14px;
  }
  
  .card-text-donut p {
	background-color: white;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
	margin-top: 10px;
	width: 300px; /* Set to any width you want */
	white-space: normal; /* Allows the text to wrap */
	word-wrap: break-word; /* Breaks the word and wraps onto the next line */
	font-style: italic; /* Set the font to italic */
	color: #888; /* Lighter gray color */
	font-family: 'Verdana', sans-serif;
  }
  /* Legend styling */
  .legend span {
	margin-right: 5px;
  }
  

 .visualization-container {
	flex: 1;
	background-color: lightyellow;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding: 10px;
	margin-bottom: 20px;
	/* padding-left: 15x;
	padding-right: 15px; */
  }


  /* .visualization-container-donut {
	background-color: lightyellow;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding: 10px;
	margin-bottom: 20px;
	width: 60%;
	margin-left: 10%;
	margin-right: 60%;
  } */
   
  /* Adjust the width of the scatter plot and text box as needed */
  #vis2 {
	width: 70%; /* Adjust the width of the scatter plot */
  }
  
  .scatter-text {
	width: 25%; /* Adjust the width of the text box */
  }


  .visualization-container.card-content {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .scatter-text.card-text {
	flex: 1; /* Take up all available space on the right */
	background-color: white;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
	margin-top: 10px;
  }

  .card-content {
	display: flex;
	justify-content: space-between;
  }

  .legend {
	display: flex;
	margin-top: 10px;
  }
  
  .legend-item {
	display: flex;
	align-items: center;
	margin-right: 20px;
  }
  
  .legend-square {
	width: 20px;
	height: 20px;
	margin-right: 8px;
  }
  
  .legend-text {
	font-size: 14px;
  }

  .highlight {
	color: #e6550d ;
	
  }
  .highlight-darker {
	color: #a63603;
	
  }
  .highlight-life {
	color: #c41ec9;
	
  }
  .highlight-school {
	color: #1e5ac9;
	
  }

  

  .highlighted {
    color: transparent; /* Set the color */
    color: #fff; /* Set text color to white for better readability */
    font-weight: bold; /* Make the text bold */
  }

  /* Apply the CSS class to specific regions using their respective IDs */
  #Eastern_Mediterranean {
    color: #76D7C4; /* Apply the color for Eastern Mediterranean */
  }

  #Africa {
    color:#984ea3 ; /* Apply the color for Africa */
	
  }

  #Americas {
    color: #ff7f00; /* Apply the color for Americas */
  }

  #Europe {
    color: #F08080; /* Apply the color for Europe */
  }

  #South_East_Asia {
    color: #377eb8; /* Apply the color for South-East Asia */
  }

  #Western_Pacific {
    color: #a65628; /* Apply the color for Western Pacific */
  }
  h1 {
	font-family: 'Montserrat', sans-serif; /* Modern, non-standard font */
	font-size: 26px;                       /* Font size */
	font-weight: 700;                      /* Font weight */
	color: #333;                           /* Dark gray color for better contrast with light blue background */
  }

  h2 {
	font-family: 'Montserrat', sans-serif; /* Modern, non-standard font */
	font-size: 22px;                       /* Font size */
	font-weight: 700;                      /* Font weight */
	color: #333;                           /* Dark gray color for better contrast with light blue background */
  }